---
layout: default
---

<!-- Page Header -->


<div class="overlay"></div>

    <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.author.header-img %}{{ page.author.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="site-heading">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <!-- <h2>{{ page.author.first_name }} {{ page.author.last_name }}</h2> -->
            </div>


        </div>
    </div>

</header>
</div>


<!-- Main Content -->
<div class="container">
	<div class="row">

        <div class="row">

          <div class="col-lg-2 col-lg-offset-2">

            <img src="{{ '/img/author/' | append: page.author.avatar | prepend: site.baseurl }}"
                 alt="{{ page.author.name }}" class="p-image"
                 width="100%" height="100%" style="border-radius: 50%;"/>
          </div>
          <div class="col-lg-6 col-lg-offset-1">
                <h2>About {{ page.author.first_name }}</h2>
                    <a href="https://twitter.com/{{ page.author.twitter }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </a>

                    <a href="https://github.com/{{ page.author.github }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-github fa-stack-1x"></i>
                        </span>
                    </a>

                    <a href="https://www.linkedin.com/in/{{ page.author.linkedin }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                    </a>

                    <a href="mailto:{{ page.author.email }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-envelope fa-stack-1x"></i>
                        </span>
                    </a>
          </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% if page.author.bio %}
          {{ page.author.bio | markdownify }}
      {% endif %}
		</div>

	</div>
</div>
