---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% for post_tag in post.tags %}
        {% assign tag = site.data.tags[post_tag] %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a class="badge " href="{{ site.baseurl }}/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %} {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}


<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by:
                      {% for author in page.authors %}
                          <a href="{{ author.permalink | prepend: site.baseurl }}">
                            {{author.first_name}} {{author.last_name}}
                          </a>
                          {% if forloop.last != true %}
                              {% if forloop.rindex0 == 1 %}
                                   and
                              {% else %}
                                  ,
                              {% endif %}
                          {% endif%}
                      {% endfor %}
                      <!-- {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span> -->
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Post Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


        {{ tags_content }}


				{{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</section>


{% if page.comments %}
<section id="three" class="wrapper spotlight style3">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="text-align: left;">
        <div class="content">
          <H1>abc</h1>
            <div id="disqus_thread"></div>

            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a></noscript>
        </div>
    </div>
</section>
{% endif %}

<hr>
